
<style>
.title{
border-radius: 10px;
margin-bottom: 10px;
text-align:center;
width: 210px;
color:#ffffff;
border: solid  1px;
}

input[type="button"]
{
border-radius: 10px;
background-color:#FEFFF1;
color: black;
border-color:#9BAC02 ;
width:105%;
}

input[type="text"]
{
border-radius: 10px;
text-align: center;
background-color:#FEFFF1 ;
border-color: #9BAC02 ;
width:100%
}

body {
 background-color: #FFF4D9;
 padding-left: 40%;
 padding-top: 17%;
 }

</style>
